*.iml
*.jks
.gradle
.kotlin
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.credentials.properties
.DS_Store
/app/build
/captures
/app/release.keystore
.externalNativeBuild
.cxx
google-services.json
